* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

.header_box {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;

    &_left {
        color: #F9FAF8;
        font-size: 24px;
    }

    &_right {
        display: flex;
        gap: 15px;

        &_link {
            color: #E5E7EB;
            font-size: 18px;
            font-weight: 100;
        }

    }
}


.top_box {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    &_left {
        display: flex;
        color: #F9FAF8;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        &_header {
            font-weight: 900;
            font-size: 48px;
        }

        &_text {
            font-weight: 100;
            font-size: 18px;
        }

        &_button {
            background-color: #3882F6;
            border-radius: 10px;
            border: none;
            height: 30px;
            width: 100px;
            color: #E5E7EB;
        }
    }

    &_right {
        border: 2px solid #E5E7EB;
        height: 200px;
        width: 400px;
    }
}


.main_header {
    background-color: #bdbfc4;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
}

.main_box {
    height: 350px;
    background-color: #bdbfc4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-top: 75px;

    &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        width: 150px;
        gap: 10px;

        &_img {
            border: 2px solid #3882F6;
            border-radius: 10px;
            height: 150px;
            width: 150px;
        }

        &_text {
            color: #1F2937;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
        }
    }
}

.quote {
    background-color: #E5E7EB;
    height: 400px;

    &_content {
        color: #1F2937;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        padding-top: 130px;
    }

    &_author {
        color: #1F2937;
        font-size: 30px;
        font-weight: 500;
        text-align: end;
    }

}

.sign_bg {
    background-color: #bdbfc4;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_box {
    height: 150px;
    width: 650px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;

    &_left_header {
        font-size: 18px;
        font-weight: 500;

        &_text {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &_right_button {
        background-color: #3882F6;
        border-radius: 10px;
        border: 2px solid #E5E7EB;
        height: 30px;
        width: 100px;
        color: #E5E7EB;
    }
}

.footer {
    background-color: #1F2937;
    height: 100px;


    &_box {
        display: flex;
        justify-content: center;
        padding-top: 25px;

        &_text {
            color: #E5E7EB;
            font-size: 18px;
            font-weight: 300;
            padding-top: 10px;
        }
    }


}